body {
    background-color: whitesmoke;
    margin: 1em auto;
    margin-left: 30px;
    width: 1600px;
  }

#toolbox{
position: absolute;
bottom: 0;
left: 0;
margin-bottom: 0.5em;
margin-left: 1em;
border: 2px solid #EEEEEE;
border-radius: 5px;
padding: 1em;
z-index: 5;
}

#toolbox input{
width: 30px;
opacity: 0.4;
}
#toolbox input:hover{
opacity: 1;
cursor: pointer;
}

#hidden-file-upload{
display: none;
}

#download-input{
margin: 0 0.5em;
}

.conceptG text{
pointer-events: none;
}

marker{
fill: #333;
}

g.conceptG circle{
fill: #F6FBFF;
stroke: #333;
stroke-width: 2px;
}

g.conceptG:hover circle{
fill: rgb(200, 238, 241);
}

g.selected circle{
fill: rgb(250, 232, 255);
}
g.selected:hover circle{
fill: rgb(250, 232, 255);
}

path.link {
fill: none;
stroke: #333;
stroke-width: 6px;
cursor: default;
}

path.link:hover{
stroke: rgb(94, 196, 204);
}

g.connect-node circle{
fill: #BEFFFF;
}

path.link.hidden{
stroke-width: 0;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 3px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}